=begin
#API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.8.34

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1

=end

require 'cgi'

module OpenapiClient
  class ScheduleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # create schedule
    # @param project_id [Integer] Project ID
    # @param schedule [ScheduleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Schedule]
    def project_project_id_schedules_post(project_id, schedule, opts = {})
      data, _status_code, _headers = project_project_id_schedules_post_with_http_info(project_id, schedule, opts)
      data
    end

    # create schedule
    # @param project_id [Integer] Project ID
    # @param schedule [ScheduleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Schedule, Integer, Hash)>] Schedule data, response status code and response headers
    def project_project_id_schedules_post_with_http_info(project_id, schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduleApi.project_project_id_schedules_post ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ScheduleApi.project_project_id_schedules_post"
      end
      # verify the required parameter 'schedule' is set
      if @api_client.config.client_side_validation && schedule.nil?
        fail ArgumentError, "Missing the required parameter 'schedule' when calling ScheduleApi.project_project_id_schedules_post"
      end
      # resource path
      local_var_path = '/project/{project_id}/schedules'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'Schedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'cookie']

      new_options = opts.merge(
        :operation => :"ScheduleApi.project_project_id_schedules_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduleApi#project_project_id_schedules_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes schedule
    # @param project_id [Integer] Project ID
    # @param schedule_id [Integer] schedule ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def project_project_id_schedules_schedule_id_delete(project_id, schedule_id, opts = {})
      project_project_id_schedules_schedule_id_delete_with_http_info(project_id, schedule_id, opts)
      nil
    end

    # Deletes schedule
    # @param project_id [Integer] Project ID
    # @param schedule_id [Integer] schedule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def project_project_id_schedules_schedule_id_delete_with_http_info(project_id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduleApi.project_project_id_schedules_schedule_id_delete ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ScheduleApi.project_project_id_schedules_schedule_id_delete"
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling ScheduleApi.project_project_id_schedules_schedule_id_delete"
      end
      # resource path
      local_var_path = '/project/{project_id}/schedules/{schedule_id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'schedule_id' + '}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'cookie']

      new_options = opts.merge(
        :operation => :"ScheduleApi.project_project_id_schedules_schedule_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduleApi#project_project_id_schedules_schedule_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get schedule
    # @param project_id [Integer] Project ID
    # @param schedule_id [Integer] schedule ID
    # @param [Hash] opts the optional parameters
    # @return [Schedule]
    def project_project_id_schedules_schedule_id_get(project_id, schedule_id, opts = {})
      data, _status_code, _headers = project_project_id_schedules_schedule_id_get_with_http_info(project_id, schedule_id, opts)
      data
    end

    # Get schedule
    # @param project_id [Integer] Project ID
    # @param schedule_id [Integer] schedule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Schedule, Integer, Hash)>] Schedule data, response status code and response headers
    def project_project_id_schedules_schedule_id_get_with_http_info(project_id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduleApi.project_project_id_schedules_schedule_id_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ScheduleApi.project_project_id_schedules_schedule_id_get"
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling ScheduleApi.project_project_id_schedules_schedule_id_get"
      end
      # resource path
      local_var_path = '/project/{project_id}/schedules/{schedule_id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'schedule_id' + '}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Schedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'cookie']

      new_options = opts.merge(
        :operation => :"ScheduleApi.project_project_id_schedules_schedule_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduleApi#project_project_id_schedules_schedule_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates schedule
    # @param project_id [Integer] Project ID
    # @param schedule_id [Integer] schedule ID
    # @param schedule [ScheduleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def project_project_id_schedules_schedule_id_put(project_id, schedule_id, schedule, opts = {})
      project_project_id_schedules_schedule_id_put_with_http_info(project_id, schedule_id, schedule, opts)
      nil
    end

    # Updates schedule
    # @param project_id [Integer] Project ID
    # @param schedule_id [Integer] schedule ID
    # @param schedule [ScheduleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def project_project_id_schedules_schedule_id_put_with_http_info(project_id, schedule_id, schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduleApi.project_project_id_schedules_schedule_id_put ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ScheduleApi.project_project_id_schedules_schedule_id_put"
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling ScheduleApi.project_project_id_schedules_schedule_id_put"
      end
      # verify the required parameter 'schedule' is set
      if @api_client.config.client_side_validation && schedule.nil?
        fail ArgumentError, "Missing the required parameter 'schedule' when calling ScheduleApi.project_project_id_schedules_schedule_id_put"
      end
      # resource path
      local_var_path = '/project/{project_id}/schedules/{schedule_id}'.sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'schedule_id' + '}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'cookie']

      new_options = opts.merge(
        :operation => :"ScheduleApi.project_project_id_schedules_schedule_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduleApi#project_project_id_schedules_schedule_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
